* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar.bg-body-tertiary {
    background-color: #F8F9FA;
    width: 100vw;
}

.container-fluid {
    background-color: #ffffff;
}
.form-control.me-2 {
    background-color: #E5E5E5;
}

.d-flex-custom {
    background-color: #E5E5E5;
    flex-grow: 1;
    border-radius: 5px;
    align-items: center;
}
.d-flex-custom i {
    padding: .5rem;
    font-size: 1.2rem;
}

.container-fluid .logo-2 {
    width: 3rem;
}

.icon-menu i {
    padding: .5rem;
}

.icon-menu button {
    background-color: #ffffff;
    border-style: none;
}

.container-fluid-custom li, span {
    padding: 1rem;
    list-style: none;
}
.container-fluid-custom i {
    list-style: none;
}
.container-fluid-custom li:hover {
    background-color: #ffffff;
    color:#000000;
}
.bg-dark {
    background-image: url(../img/sidebar-bg.png);
    max-width: 200px;
}

.sidebar {
    height: calc(100vh - 54px);
}